#title-logo {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 150px;
    color: black;
}

.logoHeader {
    margin: 0 auto;
    text-align: center;
    padding: 75px;
    width: 20%;
}

h2 {
    text-align: center;
    font-family: Arial;
}

.centerButtons {
    padding: 20px;
    text-align: center;
    align-items: center;
}

a.button {
    padding: 5px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-family: Arial;
    font-size: 25px;

    text-decoration: none;
    color: initial;
}

a.button:hover {
    color: royalblue;
}

.gallery {
    margin: 0 auto;
    text-align: center;
    padding: 25px;
}

body {
    background-color: rgb(255, 255, 255);
}