@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700&display=swap");
* {
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.background {
  position: fixed;
  width: 120%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
  top: -50%;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  -webkit-transition-duration: 20ms;
          transition-duration: 20ms;
  z-index: 0;
}

.whiteBackground {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 12em;
  height: 100%;
}

.logo {
  position: fixed;
  top: 2em;
  left: 3em;
  margin: auto;
  width: 6em;
}

.navigationTabs {
  position: fixed;
  top: 8em;
  left: 0;
  width: 12em;
  text-align: center;
}

.projectsNavigation {
  display: none;
}

.randomNavigation {
  display: none;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  margin: 0;
  opacity: 1.0;
}

h3:hover {
  opacity: 0.5;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  cursor: pointer;
  margin: .25em;
  opacity: 1.0;
}

h4:hover {
  opacity: 0.5;
}

.contactButtons {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8em;
  height: 3em;
  bottom: 2.5em;
  left: 2em;
  cursor: pointer;
}

.instagram:hover {
  opacity: 0.5;
}

.mail:hover {
  opacity: 0.5;
}

.galleryImage {
  position: relative;
  width: 38em;
  height: auto;
  padding-top: 4em;
  padding-bottom: 4em;
  left: 17em;
}

.galleryTitle {
  position: fixed;
  font-size: 4em;
  font-weight: bold;
  text-align: left;
  left: 15em;
  top: 2em;
}

.galleryText {
  position: fixed;
  width: 35%;
  word-wrap: normal;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2em;
  left: 30.25em;
  top: 8em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

@media screen and (max-width: 1350px) {
  .galleryTitle {
    position: fixed;
    left: 4.3em;
    top: 0em;
  }
  .galleryText {
    left: 8.75em;
    top: 3.5em;
  }
  .galleryImage {
    width: 55%;
    top: 8em;
  }
}

@media screen and (max-width: 750px) {
  .whiteBackground {
    width: 100%;
  }
  .logo {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 6em;
    margin: 3em auto 1em auto;
  }
  .navigationTabs {
    position: relative;
    width: 100%;
    top: 0;
  }
  .contactButtons {
    position: relative;
    left: 0;
    top: 0;
    height: 4em;
    margin: 1em auto 2em auto;
  }
  .galleryTitle {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0.5em auto 0em auto;
  }
  .galleryText {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0em auto .5em auto;
  }
  .galleryImage {
    position: relative;
    width: 100%;
    padding-top: 0em;
    padding-bottom: 1em;
    left: 0;
    top: 0;
  }
}
/*# sourceMappingURL=styles.css.map */