@font-face {
    font-family: 'interbold';
    src: url('assets/fonts/Inter/inter-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/Inter/inter-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

#title-logo {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 150px;
    color: black;
}

.logoTopLeft {
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 30px;
    width: 6%;
    max-width: 110px;
    min-width: 80px;
    opacity: 0;

}

.logoHeader {
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    max-width: 300px;
}

h2 {
    margin: 25px;
    text-align: center;
    font-family: 'interbold', Arial, sans-serif;
    font-size: 25px;
    font-weight: normal;
}

.centerButtons {
    padding: 25px;
    text-align: center;
    align-items: center;
}

a.button {
    padding: 15px;
    background-color: inherit;
    cursor: pointer;
    font-family: 'interbold', Arial, sans-serif;
    font-size: 25px;
    font-weight: normal;
    text-decoration: none;
    color: initial;
}

a.button:hover {
    color: royalblue;
}

.gallery {
    font-size: 0;
    padding-top: 15px;
}

.galleryMin {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.galleryTitle {
    writing-mode: vertical-lr;
}

.galleryImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.galleryImage:hover {
    object-fit: scale-down;
}

.canvas {
    display: none;
    text-align: center;
    padding: 15px;
}

.testCanvas1 {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

@media screen and (max-width: 1300px) {
    .gallery {
        text-align: center;
    }
    .galleryMin {
        display: inline;
    }
    .galleryTitle {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    a.button {
        display: block;
        padding: 10px;
    }
    .logoTopLeft {
        width: 20%;
    }
    .gallery {
        padding: 0px;
        padding-top: 20px;
    }
    .galleryMin {
        display: block;
    }
    .galleryImage {
        padding: 0;
        width: 100%;
        height: auto;
    }
    .canvas {
        padding: 0;
        padding-top: 5px;
    }
}

body {
    background-color: white;
}