@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700&display=swap');

.disable-scrollbars {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
  }

* {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

html {
    font-size: calc(0.08em + 1vw);
}

body {
    background-color: white;
}

header {
    z-index: 10;
}

.logo {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 1.5em;
    height: 3.5em;
    width: auto;

    z-index: 11;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin-left: .5em;
    margin-right: .5em;

    cursor: pointer;

    &:hover {
        color: dodgerblue;
    }
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin-left: 1em;
}

.background_blank {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.parallax {
    display: block;
    position: fixed;
    opacity: 1.0;
    left: 0;
}

.background_circle {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30em;
    height: 30em;
    border-radius: 50%;
    background-color: dodgerblue;

    transition-duration: 1ms;
}

.background_text {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    background-color: black;
    text-align: center;
    width: 15em;

    transition-duration: 1ms;
}

.background_links {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    background-color: black;
    text-align: left;
    width: 18em;

    transition-duration: 1ms;
}

.background_works {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    background-color: black;
    text-align: center;
    width: 13em;

    transition-duration: 1ms;
}

.background_image {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;

    transition-duration: 1ms;
}
.mountains {
    width: 75em;
}
.swirl {
    width: 55em;
}
.happy {
    width: 15em;
}
.clouds {
    width: 45em;
}
.mountain {
    width: 45em;
}
.fish {
    width: 30em;
}

.gallery {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    opacity: 0.0;

    transition-duration: 500ms;
}

.gallery_background {
    position: fixed;
    top: 0;
    left: inherit;
    width: 100%;
    height: 100%;
    background-color: black;
}

.gallery_exit {
    position: fixed;
    top: 2em;
    left: 2em;
    width: 2em;
    height: auto;
    cursor: pointer;
    opacity: 1.0;
    &:hover {
        opacity: 0.5;
    }

    z-index: 12;
}

.gallery_exit_mobile {
    position: fixed;
    top: 2em;
    left: 2em;
    width: 2em;
    filter: invert(1);
    cursor: pointer;
    opacity: 1.0;
    &:hover {
        opacity: 0.5;
    }
}

.gallery_view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 7em;
    left: 0;
    width: 100%;
    height: calc(100% - 6em);
    overflow-y: auto;
    overflow-x: hidden;
}

.gallery_block {
    position: relative;
    width: 17em;
    height: 17em;
    background-color: white;
    cursor: pointer;
}

.gallery_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery_more {
    display: none;
    position: absolute;
    top: 7em;
    left: 0;
    width: 100%;
    height: calc(100% - 6em);
    overflow-y: auto;
    overflow-x: hidden;
}

.gallery_details {
    display: none;
}

.gallery_image_full {
    width: 90%;
    height: auto;
}

.gallery_full {
    position: relative;
    left: 5%;
    margin-left: 1em;
    margin-right: 1em;
}

.gallery_white {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.875em;
}


@media screen and (max-width: 450px) {
    a {
        font-size: 6em;
    }

    .logo {
        top: 3em;
        height: 10em;
    }

    .background_links {
        top: 50em;
        width: 40em;
        color: black;
        background-color: white;
        text-align: center;
        
    }

    .background_works {
        top: 30em;
        width: 25em;
        color: black;
        background-color: white;
    }

    .background_circle {
        display: none;
    }

    .background_image {
        display: none;
    }

    .background_text {
        display: none;
    }

    .gallery_background {
        width: 100%;
    }

    .gallery_exit {
        top: 4em;
        left: 4em;
        width: 6em;
    }
    .gallery_exit_mobile {
        top: 4em;
        left: 4em;
        width: 6em;
    }

    .gallery_view {
        top: 15em;
        width: 100%;
    }

    .gallery_block {
        width: 30em;
        min-width: 30em;
        height: 100%;
    }

    .gallery_more {
        top: 8em;
        left: 0;
        width: 100%;
    }

    .gallery_white {
        width: 100%;
        left: 0;
    }

    h2 {
        font-size: 8em;
    }

    h3 {
        font-size: 5em;
    }
}