@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700&display=swap');

* {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

header {
    z-index: 10;
}

.logo {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 1.5em;
    height: 3.5em;
    width: auto;
    cursor: pointer;

    z-index: 11;
}

.header_buttons {
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    top: 2.5em;

    z-index: inherit;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 4em;
    margin-right: 4em;

    cursor: pointer;

    &:hover {
        color: dodgerblue;
    }
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3em;
    margin-left: 1em;
}

.parallax_background {
    position: fixed;
    opacity: 1.0;
}

.background_circle {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: dodgerblue;
    width: 30em;
    height: 30em;
    border-radius: 50%;

    transition-duration: 20ms;
    z-index: 0;
}

.background_text {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 15em;
    color: white;
    background-color: black;

    transition-duration: 20ms;
    z-index: 1;
}

.background_mountains {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75em;

    transition-duration: 20ms;
    z-index: 2
}

.gallery {
    position: absolute;
    left: 0;
    right: 0;
    top: 7em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    opacity: 0.0;
}

.gallery_block {
    width: 15em;
    min-width: 15em;
    height: 25em;
    border-radius: 2em;
    background-color: dodgerblue;
    background-position: center;
    flex-basis: 20%;
    margin: 1em;
    margin-bottom: 2em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 1em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin-left: 1em;
    margin-right: 1em;
}

footer {
    position: absolute;
    left: 0;
    bottom: 200%;
    width: 100%;
    height: 4em;
    background-color: dodgerblue;
}


